.navbar {
  width: 100%;
  float: auto;
  background-color: black;
}

body {
  background-image: url("../images/bkg.jpg");
  color: white;
}


}
.navbar-brand {
  width: auto;
  background-color: brown;
}
.column {
  float: right;
  width: 50%;
  height: 70%;
}
h2 {
  color: green;
  text-weight: bold;
  font-family: serif;
  text-align: center;
}
.important {
  color: red
}
.container {
  width: 80%;
  float: auto;
}
p {
  font-family: sans-serif;
}
