h1 {
  text-align: center;
  color: green;
  font-weight: bold;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  color: red;
}

.navbar {
  width: 100%;
  float: auto;
  background-color: black;
}

h3 {
  text-align: center;
  color: red
}

.important {
  color: red;
}

img {
  float: right;
}

body {
  background-image: url("../images/bkg.jpg");
  color: white;
}
